apptainer {
    enabled = true
    autoMounts = true
}

process {


    withName: '.*'{
        container = "${System.getenv('HOME')}/sudohapgen.sif"
    }


    env{
            TMPDIR = '$PWD/nxf_tmp'
            TMP    = '$PWD/nxf_tmp'
        }

    resourceLimits = [
        time: 24.h
    ]

}



timeline {
    enabled = true
    file = "timeline.html"
	overwrite = true
}

trace {
    enabled = true
    file = "trace.txt"
	overwrite = true
}
