/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ANGSD_DOHAPLO'{
            ext.args = " -minMinor -doCounts 1 -minMapQ ${params.min_mapq} -minQ ${params.min_baseq} -minInd 1 -setMinDepth ${params.min_depth}  -trim ${params.n_basetrim} "
        }
    withName: 'PLINK2_RECODE' {
        ext.args1   = " --chr-set "+ params.max_chrom + " --recode vcf-4.2 id-paste=iid "
	    ext.args2   = params.allow_extra_chrom ?" --allow-extra-chr " :''
	    ext.args3    = params.fasta ? " --ref-from-fa force --fa ${params.fasta}":''
        ext.args = ext.args1 + ext.args2 + ext.args3
    }

}
